{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block title %}
Login
{% endblock %}
{% block content %}
        <form class="jumbotron my-5" method="post">
         <h3 class="heading"> Login</h3>
         {% csrf_token %}
          <center><table class="my-2 table">
                {{ form.as_table }}
          </table></center>
          <center> <button id="submit" type="submit" class="btn btn-success">Sign in</button></center>
          {% if user.is_anonymous %}
          <br><br><center><a style="color: orange;" href="{% url 'accounts:register' %}" role="button">- Not Having an account -</a></center>
          {% endif %}
        </form>
{% endblock %}