{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block title %}
Students
{% endblock %}
{% block content %}
<span>
    <center class="container"><h1 style="color: thistle;margin-top: 100px;">Student List</h1></center>
</span>
<center>
    <div class="container-fluid px-0 py-0 mx-0 my-0" style="width: 70vw;" >
        <div class="row">
        {% for student in object_list %}
        <div class="col-md-5 container card mx-3 my-5">
            <a href="{% url 'Students:detail' roll=student.roll_no %}">
                <div class="col-md-6">
                        <table>
                            <tr>
                                <td>
                                    <p>Roll no:</p>
                                </td>
                                <td>
                                    <p>{{student.roll_no}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Name:</p>
                                </td>
                                <td>
                                    <p>{{student.name}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Class:</p>
                                </td>
                                <td>
                                    <p>{{student.cls}}</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table>
                            <tr>
                                <td>
                                    <p>Mobile:</p>
                                </td>
                                <td>
                                    <p>{{student.mobile}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Address:</p>
                                </td>
                                <td>
                                    <p>{{student.address}}</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </a>
                {% if request.user.is_authenticated %}
                <div class="col-md-12" style="top:10%">
                    <form method="POST" action="{% url 'Students:delete' roll=student.roll_no %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">delete</button>
                    </form>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <center>
            {% if students|length !=  0 %}
            {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li><a href="?page={{page_obj.previous_page_number}}"><<</a></li>
                {% endif %}
                <li><a >Page</a></li>
                {% if page_obj.has_next %}
                <li><a href="?page={{page_obj.next_page_number}}">>></a></li>
                {% endif %}
            </ul>
            {% endif %}
            {% else %}
            <a href="{% url 'Students:home' %}" class="btn btn-danger">Home page</a>
            {% endif %}
        </center> 
    </div>
</center>
    {% endblock %}